$grey-color: #616161
$blue-color: #1976d2

*
  font-family: 'Roboto', Arial, sans-serif
  color: $grey-color
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  background: #000

.container
    display: flex
    flex-direction: row

h1 
  font-size: 32px

router-outlet + *
  padding: 0 16px

h2
  font-size: 20px 
  padding: 16px 0
  margin: 0 !important

h1, h2
  font-weight: lighter

p
  font-size: 14px

a
  cursor: pointer
  color: $blue-color
  text-decoration: none

a:hover
  opacity: 0.8
  
input
  font-size: 14px
  border-radius: 2px
  padding: 8px
  margin-bottom: 16px
  border: 1px solid #BDBDBD

label
  font-size: 12px
  font-weight: bold
  margin-bottom: 4px
  display: block
  text-transform: uppercase

.button, button
  display: inline-flex
  align-items: center
  padding: 8px 16px
  border-radius: 2px
  font-size: 14px
  cursor: pointer
  background-color: $blue-color
  color: white
  border: none

.button:hover, button:hover
  opacity: 0.5
  font-weight: normal

.button:disabled, button:disabled
  opacity: 0.5
  cursor: auto

.fancy-button
  background-color: rgb(24, 26, 27)
  color: rgb(83, 167, 235)
  padding-right: 18px

  i.material-icons
    color: $blue-color
    padding-right: 4px

app-top-bar
  width: 100%
  height: 68px
  background-color: $blue-color
  padding: 16px
  display: flex
  flex-direction: row
  justify-content: space-between
  // align-items: center
  margin-bottom: 20px

  h1
    font-size: 32px !important
    color: white
    margin: 0

.cart-item, .shipping-item
  width: 100%
  min-width: 400px
  max-width: 450px
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 16px 32px
  margin-bottom: 8px
  border-radius: 2px
  background-color: #eee

app-product-list
  .product-item-container
    margin-bottom: 20px

app-product-alerts
  button
    margin-top: 16px

app-cart
  .error-message
    color: #8B0000
    font-size: 32px
    margin-bottom: 20px 